*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    width: 100%;
}

/* navbar starts */
.nav{
    /* border: 2px solid red; */
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 60px;
    background-color: rgba(128, 128, 128, 0.095);  
}
.nav .navbar ol{
    display: flex;
    margin-right: 20px;
    padding: 10px;
    list-style: none;
    font-family:"Raleway",sans-serif;
    font-size: 15px;
    
}
.nav .navbar ol li a{
    text-decoration: none;
    font-family:"Raleway",sans-serif;
    color: rgba(0, 0, 255, 0.526);
    font-weight: 600;
}
.nav h2{
    font-family:"Raleway",sans-serif;
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.667);
}


/* navbar ends */


/* birthday start */
.birthday{
    /* border: 1px solid red; */
    height: 350px;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 30px;
    /* overflow: hidden; */
}
.birthday .birthday1
{
    /* border: 1px solid green; */
    width: 50%;
    height: 350px;
    margin: 0px 30px 0px 30px;
}
.birthday .birthday1 .image{
    width: 100%;
    height:350px ;
}
.birthday .birthday1 .image img{
    height: 100%;
    width: 100%;
}
.birthday .birthday1:hover
{
    transform: scale( 1.05);
    transition: all .3s;
    /* transition-delay:.3s ; */
}
.content
{
    /* background-color: azure; */
box-shadow: 0px 0px 1px 0px;
background-color: white;
position: absolute;
/* border-top: 2px solid green; */
height: 210px;
width: 450px;
text-align: center;
margin-left: 40px;
top: 300px;
}
.content h2{
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #24325d;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.content h4{
    text-align: center;
    font-style: italic!important;
    color: rgba(0, 0, 0, 0.658);
}
.content p{
    line-height: 25px;
    font-family: "Raleway", sans-serif;
}




/*  my family start */

/*  my family start */

.myfamily{
    height: 300px;
    width: 100%;
    background-color: #1d284b;
    color: #fff;
    text-align: center;
    margin-top: 220px;
    padding-top: 50px;
}
.myfamily h1{
    font-family: sans-serif;
}
.myfamily p{
    font-family: italic;
    margin-top: 15px;
    
}
.myfamily .icon{
    margin: 35px 0px;
    padding-left: 10px;
}
.myfamily .icon i{
    height: 40px;
    width: 40px;
    /* border: 1px solid red; */
    border-radius: 100%;
    padding-top: 11px;
    background-color: #1c83cccb;
    color: #fff;
}
.myfamily .icon i:hover
{
    background-color:#3f88bb ;
    color: #fff;
    transition: all 1s;
}
.myfamily h4{
    margin-top: 20px 0px;
    font-size: 15px;
    font-weight: 400;
    
}
.myfamily h4 .me{
    font-weight: 800;
}
.myfamily h5{
    margin-top: 15px;
    font-weight: 400;
}
.myfamily h5 .nits{
    font-weight: 700;
}




/* birthday end */
